h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h1 {
    color: blue;
}
h2 {
    color: brown;
}
p {
    color: blueviolet;
}
img {
    width: 500px;
    height: 250px;
}
img src {
    width: 500px;
    height: 250px;
}