<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/Style.css">
    <title>Document</title>
</head>
<body>
    <h2>Torta matera súper facil y económica</h2>
        <img src="../Imagenes/torta.jpg" alt="Torta matera">
    <p>Prepara una torta para tomar mates con amigos en casa o la plaza</p>
    <h3>Lista de ingredientes</h3>
    <ul>
        <li>15 cucharadas de harina leudante</li>
        <li>15 cucharadas de azúcar</li>
        <li>15 cucharadas de leche</li>
        <li>15 cucharadas de aceite</li>
        <li>1 huevo</li>
        <li>2 cucharadas de esencia de vainilla</li>
    </ul>
    <h3>Pasos a seguir</h3>
    <ol>
        <li>En un recipiente colocar el huevo, el azúcar y mezclar bien</li>
        <li>Agregar la leche y el aceite y seguir mezclando</li>
        <li>Colocar la esencia de vainilla y por último la harina a medida que vamos batiendo</li>
        <li>A medida que vamos batiendo vamos a sentir que la mezcla se va poniendo pesada; en ese momento colocamos la mezcla en un molde enharinado y enmantecado</li>
        <li>Colocar en el horno a 180° por unos 30 a 35 minutos</li>
    </ol>
    <iframe width="500" height="250" src="https://www.youtube.com/embed/2aUzrXgsaI8" title="Torta matera FACIL para el Dia del padre con pocos ingredientes" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <br>
    <a href="https://cookpad.com/ar/recetas/24580585-torta-matera-super-facil-y-economica?ref=search_top" target="blank">Lee la receta completa en Las Recetas de Guillermo</a>
    <br>
        <a href="Public/Matera/tortamatera.html">Leer receta torta matera súper facil y económica</a>
</body>
</html>